@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/*----general setup------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    font-family: Poppins, sans-serif;
}

/*-----header setup-------*/

.header {
    font-weight: 300;
    font-size: 25px;
    margin: 20px 0px 0px 0px;
}

@media(max-width: 600px) {
    .header {
        font-size: 20px;
    }
}

.paragraph {
    font-size: 15px;
    margin: 20px 0;
    width: 500px;
}

@media(max-width: 768px) {
    .header {
        margin: 10px auto;
    }

    .paragraph {
        margin: 10px auto;
    }
}

@media(max-width: 600px) {
    .paragraph {
        font-size: 13px;
        width: 300px;
        margin: 10px auto;
    }
}

/*------boxes setup------*/

.supervisor-box {
    position: absolute;
    top: 50%;
    left: 15%;
    width: 300px;
    height: 200px;
    padding: 20px;
    text-align: left;
    border-top: 3px solid hsl(180, 62%, 55%);
    border-radius: 5px;
    box-shadow: 2px 10px 10px 1px rgb(214, 213, 213);
    background-color: white;
}

@media(max-width: 1300px) {
    .supervisor-box {
        left: 13%;
        width: 250px;
        height: 170px;
    }
}

@media(max-width: 990px) {
    .supervisor-box {
        top: 33%;
        left: 17%;
    }
}

@media(max-width: 600px) {
    .supervisor-box {
        top: 35%;
        left: 20%;
    }
}

@media(max-width: 320px) {
    .supervisor-box {
        left: 10%;
    }
}


.supervisor-box h2 {
    font-size: 15px;
}

.supervisor-box p {
    margin-top: 10px;
    font-size: 12px;
}

.supervisor-box img {
    margin: 40px 0px 0px 210px;
    width: 50px;
    height: 50px;
}

@media(max-width: 1300px) {
    .supervisor-box img {
        margin: 30px 0px 0px 170px;
        width: 30px;
        height: 30px;
    }
}

.team-builder-box {
    position: absolute;
    top: 30%;
    left: 39%;
    width: 300px;
    height: 200px;
    padding: 20px;
    text-align: left;
    border-top: 3px solid hsl(0, 78%, 62%);
    border-radius: 5px;
    box-shadow: 2px 10px 10px 1px rgb(214, 213, 213);
    background-color: white;
}

@media(max-width: 1300px) {
    .team-builder-box {
        top: 32%;
        width: 250px;
        height: 170px;
    }
}

@media(max-width: 990px) {
    .team-builder-box {
        top: 33%;
        left: 58%;
    }
}


@media(max-width: 600px) {
    .team-builder-box {
        top: 73%;
        left: 20%;
    }
}

@media(max-width: 320px) {
    .team-builder-box {
        left: 10%;
    }
}

.team-builder-box h2 {
    font-size: 15px;
}

.team-builder-box p {
    margin-top: 10px;
    font-size: 12px;
}

.team-builder-box img {
    margin: 40px 0px 0px 210px;
    width: 50px;
    height: 50px;
}

@media(max-width: 1300px) {
    .team-builder-box img {
        margin: 30px 0px 0px 170px;
        width: 30px;
        height: 30px;
    }
}

.karma-box {
    position: absolute;
    top: 66%;
    left: 39%;
    width: 300px;
    height: 200px;
    padding: 20px;
    text-align: left;
    border-top: 3px solid hsl(34, 97%, 64%);
    border-radius: 5px;
    box-shadow: 2px 10px 10px 1px rgb(214, 213, 213);
    background-color: white;
}

@media(max-width: 1300px) {
    .karma-box {
        width: 250px;
        height: 170px;
    }
}

@media(max-width: 990px) {
    .karma-box {
        top: 66%;
        left: 17%;
    }
}

@media(max-width: 600px) {
    .karma-box {
        top: 111%;
        left: 20%;
    }
}

@media(max-width: 320px) {
    .karma-box {
        left: 10%;
    }
}

.karma-box h2 {
    font-size: 15px;
}

.karma-box p {
    margin-top: 10px;
    font-size: 12px;
}

.karma-box img {
    margin: 40px 0px 0px 210px;
    width: 50px;
    height: 50px;
}

@media(max-width: 1300px) {
    .karma-box img {
        margin: 30px 0px 0px 170px;
        width: 30px;
        height: 30px;
    }
}

.calculator-box {
    position: absolute;
    top: 50%;
    left: 63%;
    width: 300px;
    height: 200px;
    padding: 20px;
    text-align: left;
    border-top: 3px solid hsl(212, 86%, 64%);
    border-radius: 5px;
    box-shadow: 2px 10px 10px 1px rgb(214, 213, 213);
    background-color: white;
}

@media(max-width: 1300px) {
    .calculator-box {
        left: 65%;
        width: 250px;
        height: 170px;
    }
}

@media(max-width: 990px) {
    .calculator-box {
        top: 66%;
        left: 58%;
    }
}

@media(max-width: 600px) {
    .calculator-box {
        top: 148%;
        left: 20%;
    }
}

@media(max-width: 320px) {
    .calculator-box {
        left: 10%;
    }
}

.calculator-box h2 {
    font-size: 15px;
}

.calculator-box p {
    margin-top: 10px;
    font-size: 12px;
}

.calculator-box img {
    margin: 40px 0px 0px 210px;
    width: 50px;
    height: 50px;
}

@media(max-width: 1300px) {
    .calculator-box img {
        margin: 30px 0px 0px 170px;
        width: 30px;
        height: 30px;
    }
}
